@import '../../styles/breakpoints';

.card--details {
  display: flex;
}

.card--details > * {
  margin-right: var(--element-spacing);
}

.card--description > * {
  margin-top: 0;
}

.card--image {
  @media (max-width: $medium) {
    width: 40%;
    max-width: 40%;
  }
}
