.card--details {
  display: flex; }

.card--details > * {
  margin-right: var(--element-spacing); }

.card--description > * {
  margin-top: 0; }

@media (max-width: 768px) {
  .card--image {
    width: 40%;
    max-width: 40%; } }
